.hero-img {
  height: 500px;
  width: 680px;
  object-fit: cover;
}

nav {
  font-family: "Poppins", serif;
  background-color: #fefcfb;
}

.nav-item {
    color: #222222;
}

.navbar-collapse {
  font-size: 13px;
}

.login {
  color: #fa7436;
}

.signup {
  background-color: #fa7436;
}

.hero {
  background-color: #fefcfb;
}

.hero .text-label {
  font-family: "Volkhov", serif;
  font-size: 64px;
}

.text-label span {
  color: #fa7436;
}

.hero-desc {
    color: #666666;
}

.hero .text-p {
  font-family: "Poppins", serif;
  font-size: 20px;
}

.button a {
  border: 2px solid #fa7436;
  color: #fa7436;
}

.sub-container {
  width: 840px;
  font-family: "Poppins", serif;
  padding: 15px;
  background-color: #ffffff;
}

.Location {
  color: #fa7436;
  font-size: 12px;
  padding-left: 6px;
}

.l-desc {
  font-size: 13px;
  color: #666666;
}

.date {
  color: #fa7436;
  font-size: 12px;
  padding-left: 6px;
}

.date-desc {
  font-size: 13px;
  color: #666666;
}

.guest {
  color: #fa7436;
  font-size: 12px;
  padding-left: 6px;
}

.g-desc {
  font-size: 13px;
  color: #666666;
}

.e-btn {
  background-color: #fa7436;
  font-size: 14px;
}

.things {
  background-color: #f7f8fc;
}

.text-label-things {
  font-family: "Volkhov", serif;
  font-size: 36px;
}

.text-label-things span {
  color: #fa7436;
  padding-left: 8px;
}

.label-desc-things {
  font-family: "Poppins", serif;
  font-size: 12px;
}
 
.flight-img {
    width: 100px;
    position: absolute;
    right: 290px;
    top: 880px;
} 

.card-body1, .card-body2, .card-body3{
    padding: 40px 40px 20px 40px;
    font-family: 'Poppins', sans-serif;
}

.card-text1, .card-text2, .card-text3 {
    color: #666666;
    font-size: 14px;
}

.deals-discount {
    background-color: #FEFCFB;
}

.e-card-img-1, .e-card-img-2, .e-card-img-3, .e-card-img-4 {
    width: 100%;
}

.rating {
  color: #666666;
}

.strike {
    color: #999999;
}

.loc-img {
  width: 14px;
  margin-left: 5px;
}

.badge1 {
    background-color: #fa743632;
    color: #FA7436;
    font-size: 16px;
    padding: 2px 6px 2px 6px;
    border-radius: 10px;
    font-weight: 600;
}

.pagging img{
  width: 25px;
}

.pagging .img1, .img2{
  cursor: pointer;
}

.b-card-img-1, .b-card-img-2, .b-card-img-3, .b-card-img-4 {
  width: 100%;
}

.rate {
  color: #FA7436;
  font-size: 22px;
}

.nav-loc-desc {
  color: #666666;
}

.about {
  background-color: #F7F8FC;
}

.about-text-label {
  font-family: "Volkhov", serif;
  font-size: 48px; 
}

.about-text-label span {
  color: #fa7436;
}

.about-desc {
  color: #666666; 
}

.about .text-p {
  font-family: "Poppins", serif;
  font-size: 16px;
}

.about-pagging img{
  width: 25px;
}

.about-pagging .img1, .img2{
  cursor: pointer;
}

.box1 {
  width: 480px;
  height: 220px;
  position: relative;
  font-family: 'Poppins', sans-serif;
}

.box2 {
  font-family: 'Poppins', sans-serif;
  width: 480px;
  height: 225px;
  position: absolute;
  top: 30%;
  left: 10%;
  background-color: #66666614 ;
}

.box-desc {
  color: #444444;
  font-size: 16px;
}

.about-box-title .name {
  font-size: 18px;
}

.about-box-title .name-desc {
  font-size: 14px;
}

.about-box2-title .name {
  font-size: 18px;  
}

.about-box2-title .name-desc {
  font-size: 14px;
}

.about-box2-title{
  color: #9c9c9c;
}

.blog-card-title {
  font-family: 'Poppins', sans-serif;
  color: #222222;
}

.blog-card-text1 {
  color: #999999;
}

.pagging2 .first {
  width: 10px;
  height: 10px;
  background-color: #E5E5E5;
}

.pagging2 .second {
  width: 10px;
  height: 10px;
  background-color: #FA7436;
}

.pagging2 .third {
  width: 10px;
  height: 10px;
  background-color: #E5E5E5;
}

.deal-offer {
  background-color: #FA7436;
}

.offer-title {
  font-family: 'Volkhov',sans-serif;
  font-size: 48px;
}

.input-form {
  background-color: #FFFFFF;
}

.Subscribe input {
  width: 500px;
}